{{ define "main"}}
<section class="ourpost-foreground">
  <div class="container">
    <h2>More resources</h2>
    <h3>Just add more nugget to the base.</h3>
  </div>
</section>

 <div class="container ">

<div class="tag-to-others">



<a href="#pfe" class="tto-pfe">How to's for students</a>
<a href="#telecomid" class="tto-telecoms">Arduino</a>
<a href="#misce" class="tto-ca">review and tools</a>
<a href="#emag-for-now" class="tto-emag">online courses</a>
<br id="misce">
</div>

</div>

<section class="lca-more-nuggets-box">
<div class="container">
  <section class="our-post">
    
    <div class="posts">
      {{ "<!--! This is where each posts start from -->" | safeHTML }}
    


       {{ range where .Site.RegularPages "Type" "more-resource" }}
       <a href="{{ .RelPermalink }}" class="post post-1">
         <img src="{{ .Params.image }}" alt="{{ .Params.Alt }}" />

       <h3>
        {{ .Title }}
       </h3>

       <div class="post-1-more">
         <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
           <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
             fill="#2d79e4" />
         </svg>
       </div>
      
   </a>
  
       {{ end }}
    </div>
  </section>
 
    <h2 class="explore-more">More will be uploaded soon.....</h2>
 
</div>
</section>
{{end}}