{{ define "main"}}
<section class="ourpost-foreground">
  <div class="container">
    <h2>Our Post</h2>
    <h3>
      Get the thoughts out post that can enhance and upskill knowledge.
    </h3>
  </div>
</section>

<div class="container ">
  <!-- <h2 class="tto-h2">Categories:</h2> -->
<div class="tag-to-others">



  <a href="#pfe" class="tto-pfe">Productivity for engineers</a>
  <a href="#telecomid" class="tto-telecoms">Telecoms and networking</a>
  <a href="#misce" class="tto-ca">Circuit Analysis & Miscellaneous</a>
  <a href="#emag-for-now" class="tto-emag">Engineering Electromagnetics</a>
  <br id="misce">
</div>

</div>

<!--! Our post section -->

<section  class="our-post">
 

  <div class="container">
    <h2 class="curious">It's Miscellaneous.</h2>
    <div class="posts">
     {{ "<!--! This is where each posts start from -->" | safeHTML }}
   


      {{ range first 2 (where .Site.RegularPages "Type" "posts" ) }}
      <a href="{{ .RelPermalink }}" class="post post-1">
        <img src="{{ .Params.image }}" alt="{{ .Params.Alt }}" />

      <h3>
       {{ .Title }}
      </h3>

      <div class="post-1-more">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
          <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
            fill="#2d79e4" />
        </svg>
      </div>
     
  </a>
 
      {{ end }}
     
    </div>
    </div>
     
</section>

<!-- ! Wow Electromag section -->
<br id="emag-for-now"> 
<section id="wowelectro" class="wow-electromag">
 

  <div class="container">
    <h2 class="the-next">It's Still Abstractive.</h2>

    <div class="wposts">
      <!-- This is where each posts start from -->
      <a href="/post/em-post/learn-electromagnetics-theory-from-scratch-using-this-resources.html" class="wpost wpost-1">
        <img src="/images/emagresource.jpg" alt="" />
        <h3>
          Resources to help you learn and understand Electromagnetics field theory from scratch. 
        </h3>

        <div class="wpost-1-more">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
            <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
              fill="#E4982D" />
          </svg>
        </div>
      </a>
  


    </div>

    <!-- <a href="" class="wexplore-more">
      <h2>Explore More</h2>
    </a> -->
  </div>
  <br id="pfe"> 
</section> 

 <!-- ! PRODUCTIVITY FOR ENGINEERS section -->
<section class="our-post">
 

  <div class="container">
    <h2 class="curious">Being Productive</h2>

    <div class="posts">
      <!-- This is where each posts start from -->
      <a href="/post/lca-post/how-to-learn-circuit-analysis-basic.html" class="post post-1">
        <img src="/images/jolt_1 (1).jpg" alt="how to learn circuit analysis basic" />
        <h3>
          The only way to learn and understand the basics of circuit
          analysis - A practical tip.
        </h3>

        <div class="post-1-more">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
            <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
              fill="#2d79e4" />
          </svg>
        </div>
      </a>

    
    </div>

    <!-- <a href="" class="wexplore-more">
      <h2>Explore More</h2>
    </a> -->
    <br id="telecomid" >
  </div>
 
</section>   


<!-- ! Telecoms and networking -->
<section class="telecoms-in-one-fold">
  

  <div class="container">
    <h2 class="one-fold">Telecoms in one fold.</h2>
    <div class="one-fold-posts">
      <!-- This is where each posts start from -->
      <a href="/post/telecoms-post/the-networking-framework.html" class="one-fold-post one-fold-post-1">
        <img src="/images/framework1_8.jpg" alt="how to wire small office network" />
        <h3>
          Framework of how computers are connected to the internet through
          wired network.

        </h3>

        <div class="post-1-more">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
            <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
              fill="#295ea0" />
          </svg>
        </div>
      </a>

    </div>
    <!-- <a href="ourpost.html" class="one-fold-explore-more">
      <h2>Explore More</h2>
    </a> -->
  </div>
</section>
<br>

<!-- ! Learn one-on-one section -->
<!-- <section class="learn-one-on-one">
  <div class="container">
    <div>
      <h2 class="in-kano">Leaving in Kano, Nigeria!</h2>
    </div>
    <h3>It's great then, learn one-on-one at just a penny.</h3>

    <div class="my-form">
      <form action="https://formsubmit.co/10ae5eac92717d7297345978e4e3230b" method="post"
        enctype="multipart/form-data">
        <input type="email" name="email" placeholder="Your email" required />
        <textarea name="message" cols="20" rows="10"
          placeholder="Tell us something and we give you a quote."></textarea>

        <input type="hidden" name="_next" value="https://talaunch.netlify.com/thank-you.html" />
        <button class="btn" type="submit">Get A Quote</button>
      </form>
      <a href="#" class="quote-us-whatsapp">or whatsapp us</a>
    </div>
  </div>
</section> -->
{{end}}