{{ define "main" }}

  <!--! Hero section -->
  {{ partial "herosection.html" .}}

  <!--! Our post section -->

  <section class="our-post">
    <div class="container">
      <h2 class="curious">Curoisity Post.</h2>
      <div class="posts">
        <!-- This is where each posts start from -->
        <a href="/post/lca-post/how-to-learn-circuit-analysis-basic.html" class="post post-1">
          <img src="/images/jolt_1 (1).jpg" alt="how to learn circuit analysis basic" />
          <h3>
            The only way to learn and understand the basics of circuit
            analysis - A practical tip.
          </h3>

          <div class="post-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#2d79e4" />
            </svg>
          </div>
        </a>

         <!-- This is where each posts start from -->
         <a href="/more-resource/how-to-solve-equation-using-calculator.html" class="post post-1">
          <img src="/images/det-of-x_2.jpg" alt="how to learn circuit analysis basic" />
          <h3>
            Crammer's rule - the technique to simplify circuit analysis
            equations
          </h3>

          <div class="post-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#2d79e4" />
            </svg>
          </div>
        </a>
 

        <!-- This is where each posts start from -->
        <a href="/lca-content/series-and-parallel-combination-of-resistor-and-how-to-identify-them.html" class="post post-1">
          <img src="/images/parallelresistor.jpg" alt="" />
          <h3>
            series and parallel combination of resistors explained step by step with how to identify them
    
          </h3>
    
          <div class="post-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#2d79e4" />
            </svg>
          </div>
        </a>
     <!-- This is where each posts start from -->
      <a href="/lca-content/delta-and-star-connection-of-resistor.html" class="post post-1">
        <img src="/images/deltastarillustration.jpg" alt="" />
      <h3>
        star & delta transformation explained with tips on how to remember it formulas
    
      </h3>

      <div class="post-1-more">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
          <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
            fill="#2d79e4" />
        </svg>
      </div>
    </a>
        <!-- This is where each posts start from -->
        <!-- <a href="/more-resource/how-to-solve-equation-using-calculator.html" class="post post-1">

          <img src="/images/reset_2.jpg" alt="" />
          <h3>
            How to use a calculator to solve simultaneous equation fast - step
            by step
          </h3>

          <div class="post-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#2d79e4" />
            </svg>
          </div>
        </a> -->
      </div>
      <!-- <a href="ourpost.html" class="explore-more">
        <h2>Explore More</h2>
      </a> -->
    </div>
  </section>

  <!-- ! Ask Ta section -->
  <section class="ask-ta">
    <div class="container">
      <h2 class="do-you-want">Do You Want Your Circuit</h2>
      <h2 class="problem-solved">Analysis Problem Solved?</h2>
      <p>
        Feel free to send us a screeshot of your circuit problems via the
        email and the TAs team will try to help by also giving some cool tips
        if necessary.
      </p>

      <div class="my-form">
        <h2>Let's Help You Out</h2>
        <form action="https://formsubmit.co/10ae5eac92717d7297345978e4e3230b" method="post"
          enctype="multipart/form-data">
          <input type="email" name="email" placeholder="Your email" required />
          <textarea name="message" cols="20" rows="10" placeholder="Tell us something about your question."></textarea>

          <input type="file" name="attachment" accept="image/png, image/jpeg" placeholder="Upload file" />
          <input type="hidden" name="_next" value="https://talaunch.netlify.com/thank-you.html" />
          <button class="btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>


  <section class="our-post-more-r">
    <div class="container">
      <h2 class="curious-more-r">More Resources</h2>
      <div class="posts-more-r">
  <!-- This is where each posts start from -->
  <a href="/post/lca-post/how-to-learn-circuit-analysis-basic.html" class="post-more-r post-1-more-r">
    <div class="div-more-r">
     <div class="img-more-r-1">
      
     </div>
    </div>
     <h3>
       The only way to learn and understand the basics of circuit
      
     </h3>

     <div class="post-1-more">
       <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
         <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
           fill="#2d79e4" />
       </svg>
     </div>
   </a>

        <!-- This is where each posts start from -->
        <a href="/post/lca-post/how-to-learn-circuit-analysis-basic.html" class="post-more-r post-1-more-r">
         <div class="div-more-r">
          <div class="img-more-r">
           
          </div>
         </div>
          <h3>
            The only way to learn and understand the basics of circuit
           
          </h3>

          <div class="post-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#2d79e4" />
            </svg>
          </div>
        </a>
 

    
    
      </div>
   
    </div>
  </section>



  <section id="emag-for-now" class="wow-electromag">
    <div class="container">
      <h2 class="the-next">Next Abstractive Course,</h2>
      <h2 class="the-next-electromag">Electromagnetics - Pending.</h2>
      <!-- <h2 class="still-pending"></h2> -->
      <p>But for the mean time lets have fun and learn.</p>

      <div class="wposts">
        <!-- This is where each posts start from -->
        <a href="/post/em-post/learn-electromagnetics-theory-from-scratch-using-this-resources.html" class="wpost wpost-1">
          <img src="/images/emagresource.jpg" alt="" />
          <h3>
            Resources to help you learn and understand Electromagnetics field theory from scratch. 
          </h3>

          <div class="wpost-1-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
              <path id="Polygon_2" data-name="Polygon 2" d="M7.5,0,15,13H0Z" transform="translate(13) rotate(90)"
                fill="#E4982D" />
            </svg>
          </div>
        </a>
     
  
      </div>

      <!-- <a href="ourpost.html" class="wexplore-more">
        <h2>Explore More</h2>
      </a> -->
    </div>
  </section>


  <section class="about-ta-homepage">
    <div class="container">
     
      <h2 class="about-ta-homepage-headline">About TA</h2>
      <p>
     TA is here to you demystify the two most abstractive electrical engineering course - Circuit analysis and Electromagnetics field and also how to be productive, use time effectively and learn skills that payoff as a student.
      </p>

     
    </div>
  </section>
{{ end }}